.page-not-found-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;

  .error-number {
    margin-bottom: 10px;
    color: #777;
  }

  .title {
    margin-bottom: 10px;
    color: #777;
  }
}
